---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Home Page";
---

<BaseLayout pageTitle={pageTitle}>
	<p>Astro</p>
	<p>My Astro site</p>
  <h2>My awesome blog subtitle</h2>
</BaseLayout>
