---
const platform = 'github';
const username = 'withastro';
import Social from './Social.astro';
---

<footer>
  <p>Learn more about my projects on <a href={`https://www.${platform}.com/${username}`}>{platform}</a>!</p>
  <p class="social">
    <Social platform="twitter" username="astrodotbuild" />
    <Social platform="github" username="withastro" />
    <Social platform="youtube" username="astrodotbuild" />
    </p>
</footer>


<style>
.social {
   display: flex;
    gap: 1rem;
    margin-top: 2rem;
}
  footer {
    margin-top: 2rem;
    padding: 1rem;
    text-align: center;
    border-top: 1px solid #e40a0a;
    background-color: #dfb1b1;
    color: rgb(21, 128, 0);
  }
  </style>